<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <h2>Detail Employee</h2>
</center>
<div class="container">
    <table class="table-striped">
            <tr>
                <th>Name</th>
                <td th:text="${employeeFind.name}"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td th:text="${employeeFind.address}"></td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td th:text="${employeeFind.birthDate}"></td>
            </tr>
            <tr>
                <th>Salary</th>
                <td th:text="${employeeFind.salary}"></td>

            </tr>
            <tr>
                <th>Department</th>
                <td th:text="${employeeFind.department.name}"></td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>
                    <img style="width: 150px; height: 150px" th:src="@{'/i/' + ${employeeFind.getImage()}}">
                </td>
            </tr>
    </table>
    <a th:href="@{/list-employee}">Back to list</a>
</div>
</body>
</html>